/* Antimations */
.bullet {
    position: relative;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

}

.bullet:hover {
    transform: translate3d(10px,0px,0px);
    filter: contrast(150%) brightness(80%);
}

.bullet.fly {
    transform: translate3d(1000px,0px,0px);
    opacity: 0;
}
