.info {
	/* Background Paper Image  */
	background-image: url(../img/Page1.png);
	background-size: 600px;
	/* End of Background Image */
	background-position: center top;
	/* background-color: white; */
	padding: 20px;
	margin-top: 50px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 10px -5px rgba(0,0,0,1);
	box-shadow: 0 0 10px -5px rgba(0,0,0,1);
	min-height: 800px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-device-width: 1200px) {
    .info {
        max-width: 900px;
		background-size: 900px;
    }
}

.bio .profile {
	max-height: 500px;
	display: block;
	margin: auto;
	position: relative;
}

.card {
    width: 100%;
    text-align: justify;
    min-height: 200px;
    position: relative;
    padding: 40px;
    padding-top: 20px;
    -webkit-box-shadow: 0 -10px 30px -20px rgba(0,0,0,0.5);
    box-shadow: 0 -10px 30px -20px rgba(0,0,0,0.5);
}

.card h1 {
	text-align: center;
}
.card h4 strong {
	text-transform: uppercase;
}