.info {
	/* Background Paper Image  */
	background-image: url(../img/Page1-Fixed.png);
	background-size: 991px;
	/* End of Background Image */
	background-position-x: center;
	background-repeat: no-repeat;
	/* background-color: white; */
	padding: 20px;
	/* margin-top: 50px; */
	border-radius: 3px;
	-webkit-box-shadow: 0 0 10px -5px rgba(0,0,0,1);
	box-shadow: 0 0 10px -5px rgba(0,0,0,1);
	height: 100%;
	max-width: 991px;
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 40px);
}

.bio .profile {
	width: inherit;
	max-width: 500px;
	display: block;
	margin: auto;
	position: relative;
	width: inherit;
}

.card {
    width: 100%;
    text-align: justify;
    min-height: 200px;
    position: relative;
    padding: 40px;
    padding-top: 20px;
    -webkit-box-shadow: 0 -10px 30px -20px rgba(0,0,0,0.5);
    box-shadow: 0 -10px 30px -20px rgba(0,0,0,0.5);
}

.card h1 {
	text-align: center;
}
.card h4 strong {
	text-transform: uppercase;
}

.info-bottom {
	max-width: 900px;
	height: 155px;
	background-image: url("../img/page1-bottom.png");
	background-position: center;
	background-repeat: no-repeat;
	margin: auto;
	position: relative;
	top: -85px;
}