/* Nav */
.navitems {
    list-style-type: none;
    padding-left: 0px;
}
.navitems a {
    text-decoration: none !important;
    color: #000000 !important;
}

.navitems li {
    text-align: left;
    height: 50px;
    font-size: 20px;
    width: 150%;
    left: -5px;
    text-align: right;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-image: url(../img/tape.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -50%;
}

.navitems li .nametag {
    position: relative;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    display: block;
    width: 50%;
    left: 30px;
    top: 13px;
}

.navitems li:hover {
    left: 10px;
    background-color: rgba(255,255,255,0.25);
}