/* Nav */
.navitems {
    list-style-type: none;
    padding-left: 0px;
}
.navitems a {
    text-decoration: none !important;
    color: #000000 !important;
    position: relative;
}

.navitems .nametag {
    font-size: 20px;
    right: 20px;
    text-align: right;
    position: relative;
    width: 110%;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-image: url(../img/tape.png);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position-x: 0;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding-top: 6px;
    padding-bottom: 3px;
    /* margin-top: 6px; */
    padding-right: 10px;
}


.navitems .nametag:hover {
    right: 0px;
    filter: brightness(0.8);
}
.navitems .nametag.active {
    filter: brightness(0.6);
}