nav {
	/* height: 60px; */
	width: 100%;
	background-color: #09164d;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.07) 0%,rgba(255,255,255,0) 100%) ,url('../img/patterns/concrete_wall.png');
	z-index: 1000;
	position: relative;
	overflow: hidden;
	color: #ffffff;
	-webkit-box-shadow: 0 -10px 30px 15px rgba(0,0,0,0.5);
	box-shadow: 0 -10px 30px 15px rgba(0,0,0,0.5);
}

nav .menubutton {
	float: left;
	margin: 11px;
	padding: 6px;
	font-size: 25px;
	cursor: pointer;
	/* left: 10px; */
}

nav .menubutton.active {
	background-color: rgba(128, 128, 128, 0.15);
	border-radius: 3px;
}

nav .title {
    text-align: center;
    padding-top: 0px;
    display: block;
    margin: 10px;
    font-weight: bolder;
    text-transform: uppercase;
}

nav .title img {
	max-height: 40px;
}

.menu-toggle {
	width: 100% !important;
}

@media (max-width: 1100px) {
	.main {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}

	.menu-toggle {
		width: calc(100% - 200px) !important;
	}

	nav .title {
		font-size: 25px;
		margin-top: 17px;
	}

	nav .title img {
		max-height: 30px;
		top: -3px;
		position: relative;
	}
}