/*Overarching site layout*/
.menu {
    background-image: url(../img/sandbags-yellow.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position: left;
}

.main {
    /*To allow for image background*/
    position: relative;
    overflow: hidden;
    background-color: white;
    min-height: 100%;
    z-index: 100;
    -webkit-box-shadow: 0 0 30px 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 30px 5px rgba(0,0,0,0.5);
}

.main .bg {
    background-image: url(../img/gallipoli-web.jpg);
    background-position: center left;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -10;
}

/*Bullet*/
.bullets {
    list-style-type: none;
}
.bullets a {
    text-decoration: none !important;
    color: #000000 !important;
}

.bullets .bullet {
    background-image: url(../img/bullet-lg-linked.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
}

.bullet .nametag {
    position: relative;
    font-family: 'Special Elite', cursive;
    text-decoration: none;
    color: #000000;
    display: block;
    width: 50%;
}