<div class="bg"></div>
<div class="content">
	<img src="img/WW1-Logo-o.png" class="splash">
	<img src="img/school-logo.png" class="logo">
	<div class="text">
		<h1 class="title">Welcome to Whangarei Boys' High School WW1 Memorial</h1>
		<br>
		<h1>Introduction</h1>
		<p>During World War 1, some of the students and faculty at WBHS were lost to the war. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Stuprata per vim Lucretia a regis filio testata civis se ipsa interemit. Ergo id est convenienter naturae vivere, a natura discedere. Cum audissem Antiochum, Brute, ut solebam, cum M. An ea, quae per vinitorem antea consequebatur, per se ipsa curabit? Ut id aliis narrare gestiant? Duo Reges: constructio interrete. Quod cum dixissent, ille contra. Cur id non ita fit? Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. You can view a specific soldier by opening the menu on the left and selecting a name.</p>
		<br>
		<h1>The Trees</h1>
		<p>Along the road down to the bottom of the school, you can find several trees which will have plaques on them. Each tree represents a soldier fallen during the war, and you can scan the code on this plaque to be brought to a page on this site showing more information. Expectoque quid ad id, quod quaerebam, respondeas. Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Tamen a proposito, inquam, aberramus. Quamvis enim depravatae non sint, pravae tamen esse possunt.</p>
		<br>
		<a href="#/random" class="btn btn-success btn-lg">View a random soldier</a> <a href="https://drive.google.com/open?id=1VluiZFde_TOFnDczw382fHFqf7I&usp=sharing" target="_blank" class="btn btn-info btn-lg">Map of Trees</a>
	</div>
</div>